.container {
  font-family: "Inter", sans-serif;
  gap: 1rem;
  padding: 40px;
  font-family: Arial, sans-serif;
}

.back {
  color: #7c3aed;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1rem;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem; 
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.pagination button {
  border: 1px solid #d1d5db; /* cinza claro */
  background-color: #ffffff; /* fundo branco */
  color: #111827; /* texto escuro */
  padding: 0.5rem 1rem;
  border-radius: 9999px; /* totalmente arredondado */
  cursor: pointer;
  font-weight: 600;
  font-size: 0.875rem;
  transition: all 0.2s ease-in-out;
}

.pagination button:hover:not(:disabled) {
  background-color: #f3e8ff; /* lilás claro ao passar o mouse */
  border-color: #7c3aed; /* borda lilás */
  color: #7c3aed;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.paginationInfo {
  display: inline-block;
  background-color: #f3f4f6; /* cinza claro */
  color: #111827;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  border-radius: 12px;
  font-size: 0.875rem;
  text-align: center;
  min-width: 90px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
