.controls {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinha tudo no início */
  gap: 1rem;
  margin: 1rem 0;
}

.search {
  width: 400px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #e5e7eb;
  padding: 8px 12px;
  border-radius: 8px;
  background: white;
}

.search input {
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  height: 100% !important;
  width: 100% !important;
}

.filter {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #e5e7eb;
  padding: 16px 12px;
  border-radius: 8px;
  background: white;
  font-size: 14px;
  color: #374151;
  cursor: pointer;
}

.filter:hover {
  background: #f3f4f6;
}
.add,
.export {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 16px 12px;
  border-radius: 8px;
  background: #7c3aed;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.avatar {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background: #e5e7eb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  color: #374151;
}

.tableWrapper {
  height: 450px;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #f5f5f5; /* mesma cor de fundo para cobrir o conteúdo abaixo */
  z-index: 1;
}

.table th {
  border-bottom: 1px solid rgba(216, 214, 214, 0.288);
  width: 250px;
  text-align: center;
  font-size: 12px;
  color: #6b7280;
  padding: 12px 10px;
}

.table td {
  text-align: center;
  height: 100%;
  padding:12px 30px;
  font-size: 12px;
  color: #111827;
}

.table tr {
  border-bottom: 1px solid rgba(216, 214, 214, 0.288);
}

.clientPerfil {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.clientPerfil img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.endereco {
  width: 400px;
}

.actions {
  gap: 30px;
  justify-content: center;
  padding: 16px 2px !important;
  box-shadow: none !important;
  display: flex;
}

.actions svg {
  align-items: center;
  cursor: pointer;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.statusPago {
  border-radius: 20px;
  color: rgb(2, 189, 2);
  margin: 0 auto;
  text-align: center;
  width: 50px;
  border: 1px solid rgb(5, 189, 5);
}

.statusPendente {
  border-radius: 20px;
  color: rgb(228, 231, 7);
  margin: 0 auto;
  text-align: center;
  width: 100px;
  border: 1px solid rgb(238, 241, 14);
}

.editIcon {
  color: #7c3aed;
  cursor: pointer;
}

.deleteIcon {
  color: #ef4444;
  cursor: pointer;
}
